src/main/mule/Global/travelontip_externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9e38ff2e-c29b-4e1c-9426-2033dc634dd0" >
		<http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a51b25e5-8c05-4968-832a-ebb4baf73738" file="Config\local.yaml" />
	<flow name="travelontip_externalsystemFlow" doc:id="86a986f2-88b0-46dd-8c18-12ea04896e52" >
		<http:listener doc:name="Listener" doc:id="df078af1-e62c-4247-b2fe-0f9f2c8f5bd2" config-ref="HTTP_Listener_config" path="${http.listener.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="19ee9a18-1f8a-446f-94c4-0d8451d053b9" message="request received forTravelOn tip external System for Transactionid #[attributes.headers.transaction_id]"/>
		<ee:transform doc:name="Transform Message" doc:id="9f4a6e2c-13fd-4050-baed-4bf82c17c218" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ServiceType" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.Servicetype]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="e384a562-4205-4d07-bff2-4a2882b290db" >
			<when expression='#[vars.Servicetype =="Routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="71505c9a-8372-4d4e-84fc-f52bcbb1f7f7" message="Routes request sent for TravelOn tip external System for Transactionid  #[attributes.headers.transaction_id]" />
				<flow-ref doc:name="Flow Reference" doc:id="2ceec163-0657-44d9-a874-75b50bbc41f1" name="TravelOnTip_GetRoutes_ImplimentationFlow"/>
			</when>
			<when expression='#[vars.Servicetype == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="7c23c935-8aba-46d4-b101-ddd259b2b365" message="Schedules request sent for TravelOn tip external System for Transactionid  #[attributes.headers.transaction_id]"/>
				<flow-ref doc:name="Flow Reference" doc:id="403d277b-b053-4bbc-9b03-6ebd9db07a45" name="TravelOntip_GetSchedules_implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3341b6cd-2c57-49d3-82c6-27509ee40728" message="URI request sent is incorrect for TravelonTip for Transactionid  #[attributes.headers.transaction_id]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="339b189b-15c2-43e6-849e-0e3b3e51071f" message="resquest for travelOnTip executed successfully"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="593bcf90-abf0-41e5-8ab4-8d2c9272327b" >
				<logger level="INFO" doc:name="Logger" doc:id="347a0df5-7902-4230-a6e0-9919c5f48ec3" message="Error occurred on TravelOn tip external System for Transactionid #[attributes.headers.transaction_id]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
